{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Tambahan Treatment {% endblock %}


{% block content %}
 <link href="{{url_for ('static',filename='css/icon.css')}}" rel="stylesheet"/>

<div class="row">                
                  <div class="col-md-6">
                        <div class="card">
                            <div class="header">                                
                                <h4 class="title">Tambahan Treatment</h4>
                            </div>
                            <div class="content">
                            <ul>
                                {% for paket in pakets %}
                                <li><a href="/dashboard/test/insert-treatment/{{book.id}}/{{status}}/{{paket.name}}" class="btn btn-success">{{ paket.name }} - Rp {{paket.price}}</a></li>
                                {% endfor%}
                            </ul>

                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="card">
                            <div class="header">                                
                                            <h4 class="title">Detail Booking</h4>
                            </div>
                            <div class="content">                            
                            <p>Nama : {{ book.username }}</p>
                            <p>Email : {{ book.email  }}</p>
                            <p>Mobil : {{ book.mobil }}</p>
                            <p>Plat : {{ book.plat }}</p>
                            <p>Phone : {{ book.phone }}</p>                            
                            <p>Paket : {{ book.treatment }} </p>
                            <p>Treatment : {% for paket in paketsaya %} {{paket.paket_name}}, {% endfor %}</p>                           
                            <hr>
                            {% if current_user.role == "member" %}
                            <a href="/dashboard/invoice/{{book.id}}" class="btn btn-info">Ok</a>
                            {% else %}
                            <a href="/dashboard" class="btn btn-info">Ok</a>
                            {% endif %}
     
                            </div>
                        </div>
                    </div>


            
          </div>





{% endblock %}
<!--
  {% for paket in pakets %}
                                <li>{{ paket.name }} - Rp {{paket.price}} <a href="/dashboard/test/insert-treatment/{{book.id}}/{{status}}/{{paket.name}}"><i class="ti-plus" style="font-size: 1.5em;" ></i></a></li>
                                {% endfor%}
                                -->