{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Booking {% endblock %}


{% block content %}
<div class="row">                
                  <div class="col-lg-11 col-md-10">
                        <div class="card">
                            <div class="header">                            	
							                <h4 class="title">Detail Booking</h4>
                            </div>
                            <div class="content">                            
                            <p>Nama : {{ book.name }}</p>
                            <p>Email : {{ book.email  }}</p>
                            <p>Mobil : {{ book.mobil }}</p>
                            <p>Plat : {{ book.plat }}</p>
                            <p>Phone : {{ book.phone }}</p>                                                                       
                            <hr>
                            <p>Masukan Treatment  </p>                           
                            <a href="/dashboard/test/add-treatment/{{ book.id }}" class="btn btn-success">Masukan Treatment</a>




                            </div>
                        </div>
                    </div>

			
          </div>








{% endblock %}