{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Marketing {% endblock %}


{% block content %}
<ul id="social_side_links">
  <li><a href="/dashboard/add-marketing"><img class="icon-float" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_blue.png" alt="" /></a></li>
</ul>
<link href="{{url_for ('static',filename='css/member.css')}}" rel="stylesheet"/> 
<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>username</td>
                    <td>email</td>                                    
                    <td>status</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>

                {% for marketing in marketings  %}

                 {% if marketing.role == "superuser" or marketing.role == "marketing" or marketing.role == "cashier" %}
                    <tbody>
                        <tr>
                            <td>{{ marketing.username }}</td>
                            <td>{{ marketing.email }}</td>  
                            <td>{{ marketing.status }}</td>                                                   
                            <td><a href="/dashboard/edit-marketing/{{marketing.id}}" class="btn btn-info">Edit</a></td>
                            <td><a href="/dashboard/marketing/member/{{marketing.id}}" class="btn btn-info">Member</a></td>
                            <td><a href="/dashboard/marketing/stats/{{marketing.id}}" class="btn btn-info">Transaksi</a></td>
                        </tr>
                     </tbody>         
                 {% else %}
                 {% endif %}
                           



                {% endfor %}





                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>

{% endblock %}
