{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Invoice {% endblock %}


{% block content %}
<link href="{{url_for ('static',filename='css/member.css')}}" rel="stylesheet"/> 
<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 
             

            <table class="table"> 
                <thead>
                <button onclick="myFunction()" class="btn btn-success">Refresh</button>
                {% if current_user.role == "superuser" %}
                <a href="/dashboard/location/invoice/lunas/{{locations.id}}" class="btn btn-info">Invoice Lunas </a>
                <a href="/dashboard/location/invoice/history/{{locations.id}}" class="btn btn-info">History </a>
                {% else %}
                {% endif %}
                <tr>
                    <td>No</td>
                    <td>Tanggal</td>
                    <td>Mobil</td>
                    <td>Plat</td> 
                    {% if current_user.role == "member" %}
                    {% else %}
                    <td>Status</td>
                    <td></td>  
                    {% endif %}               
                    <td></td>
                </tr>
                </thead>
                {% if current_user.role == "member" %} 
                  {% for invoice in userinvoice  %}
                      <tbody>
                          <tr>
                              <td>{{ loop.index }}</td>
                              <td>{{ invoice.date.strftime("%d-%m-%Y") }}</td>
                              <td>{{ invoice.mobil }}</td>
                              <td>{{ invoice.plat }}</td>                         
                              <td><a href="/dashboard/invoice/{{ invoice.id }}" class="btn btn-success">Print</a></td>
                              </tr>
                       </tbody>           
                             
                  {% endfor %}
                 {% elif current_user.role == "superuser" %} 
                    {% for invoice in invoices  %}
                      <tbody>
                          <tr>
                              <td>{{ loop.index }}</td>
                              <td>{{ invoice.date.strftime("%d-%m-%Y") }}</td>
                              <td>{{ invoice.mobil }}</td>
                              <td>{{ invoice.plat }}</td>
                              <td>{{ invoice.payment }}</td>                             
                              <td><a href="/dashboard/invoice/{{ invoice.id }}" class="btn btn-success">Print</a></td>
                              <td><a href="/dashboard/admin/delete-invoice/{{ invoice.id }}" class="btn btn-danger">Delete</a></td>
                              </tr>
                       </tbody>                       
       
                             
                    {% endfor %}
                 {% else %}
                  {% for invoice in invoices  %}
                      <tbody>
                          <tr>
                              <td>{{ loop.index }}</td>
                              <td>{{ invoice.date.strftime("%d-%m-%Y") }}</td>
                              <td>{{ invoice.mobil }}</td>
                              <td>{{ invoice.plat }}</td>                     
                              <td>{{ invoice.payment }}</td>                             
                              <td><a href="/dashboard/invoice/{{ invoice.id }}" class="btn btn-success">Print</a></td>
                              </tr>
                       </tbody>           
                             
                  {% endfor %}
                 {% endif %}




                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>
<script>
function myFunction() {
    location.reload();
}
</script>

{% endblock %}
