{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Trasaction {% endblock %}


{% block content %}
<link href="{{url_for ('static',filename='css/member.css')}}" rel="stylesheet"/> 
<link href="{{url_for ('static',filename='css/search.css')}}" rel="stylesheet"/> 
<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
        <div class="header"> 
        <a href="/dashboard/location/transaction/print/{{start}}/{{end}}/{{location.id}}" class="btn btn-info">Print </a> 
        <br>
        <br>                                    
                  <h4 class="title">Cari Data Transaksi di Cabang {{ name }}  </h4>
                            </div>
                            <div class="content">

                            {% from "includes/_formhelpers.html" import render_field %}
                               <form method="POST" enctype="multipart/form-data">
                         {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ render_field(form.start, class="form-control dtpick",placeholder="Tanggal")}}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ render_field(form.end, class="form-control dtpick",placeholder="Tanggal")}}

                                            </div>

                                        </div> 
                                        <div class="col-md-4">
                                            <div class="form-group">                                       
                                                <button type="submit" class="btn btn-info btn-fill btn-wd sub">Search</button>
                                            </div>
                                        </div>                                               
                                    </div>    
                                    
                                    
                                </form>
                            </div>
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>Tanggal</td>
                    <td>Keterangan</td>
                    <td>Plat</td>
                    <td>Paket</td>
                    <td>Treatment</td>                   
                    <td>Debet</td>                    
                    <td>Kredit</td>
                    {% if current_user.role == "superuser" %}
                    <td></td>
                    <td></td>
                    {% else %}
                    {% endif %}
                </tr>
                </thead>
                
                  {% for trans in transactions  %}                  
                      <tbody>
                          <tr>
                              <td>{{ trans.date.strftime("%d-%m-%Y") }}</td>
                              <td>{{ trans.description }}</td>
                              <td>{{ trans.customer }}</td>
                              <td>{{ trans.member }}</td>
                              <td>{{ ",".join(trans.pakets) }}</td>                              
                              {% if trans.status == "Income" %}
                              <td> Rp {{ "{:,}".format(trans.amount).replace(",",".") }}</td>
                              <td></td>
                              {% else %}
                              <td> </td>
                              <td>Rp {{ "{:,}".format(trans.amount).replace(",",".") }}</td>  
                              {% endif %}  
                              {% if current_user.role == "superuser" %}
                              <td><i class="ti-close" onclick="myFunction()"></i></td> 
                              <td><a href="/dashboard/edit-transaction/{{trans.id}}"><i class="ti-pencil"></i></a></td>
                              {% else %}
                              {% endif %}                   
                       </tbody>         
                       <script>
                            function myFunction() {
                                 var x = window.confirm("Are You Sure ?");
                                    if(x){
                                           window.location = '/dashboard/delete-transaction/{{ trans.id}}' ;
                                            }
                                     else {
                                           return false;
                                          }
                                    }    
                            </script>  
                             
                  {% endfor %}            




                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>

{% endblock %}




