{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Paket {% endblock %}


{% block content %}


              <div class="row">    
                      
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Non Member</p>                                            
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-plus"></i> <a href="/dashboard/package-regular">Lihat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                                
            
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Paket 1 Dan Paket 2</p>                                            
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-plus"></i> <a href="/dashboard/package">Lihat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   

                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Paket 3</p>                                            
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-plus"></i> <a href="/dashboard/package-vip">Lihat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                                
            </div>         
{% endblock %}            